<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Message Board</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <!-- Navbar -->
  <%- include('common/navbar', {links: links}) %>

  <!-- Messages -->
  <div class="messages__container">
    <% messages.forEach(message=> { %>
    <div class="message__container">
      <p class="message__text">
        <%= message.text %>
      </p>
      <div class="message__info">
        <p class="message_user">
          <%= message.user %>
        </p>
        <p class="message_date">
          <%= message.added.toLocaleString("en-GB", {
                day: "2-digit",
                month: "short",
                year: "numeric",
                hour: "2-digit",
                minute: "2-digit",
                hour12: true
            }).replace(",", " •"); %>
        </p>
      </div>

    </div>
    <% }) %>
  </div>

</body>

</html>