* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: chartreuse;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: rgb(181, 255, 107);
  text-decoration: underline;
  text-underline-offset: 0.75rem;
}


/* Nav Styles */
nav {
  padding: 1.25rem;
}

nav>ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav>ul>li {
  border: 1px solid chartreuse;
  padding: 1rem 2rem;
}



/* Message Styles */
.messages__container {
  /* border: 1px solid red; */
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
}

.message__container {
  padding: 1rem;
  /* border: 1px solid chartreuse; */
  background-color: rgb(6, 13, 0);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

@media (max-width : 600px) {
  .messages__container {
    flex-direction: column;
  }
}

.message__text {
  font-size: 1.35rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.message__info {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 1rem;
}

.message_date {
  color: inherit;
  opacity: 0.6;
}

.message__user::before {
  content: "via";
  font-size: 0.95rem;
}